@using WebApplication1.Models

@{
    ViewBag.Title = " Attendance Details";
    ViewBag.Active = "ATE";

    Account Account = (Session["user"] == null) ? null : (Account)Session["user"];
}

<div id="section-heading">
    <div>
        <h1 id="section-title">My Attendance</h1>
    </div>
</div>

@if (Account == null)
{
    <br/>
    <div class="two-column-content">
        <div class="cluster">
            <form onsubmit="event.preventDefault(); loadButtons()">
                <input type="text" name="employee-code" placeholder="Employee Code" class="full" />
                <button class="full" id="check">Check Employee</button>
            </form>
        </div>
        <div class="cluster">
            <p style="margin-top: 0"><b>Employee Name: </b> <span id="name">----</span></p>
            <div id="alert" style="margin-top: 0"></div>
        </div>
    </div>
}
else
{
    <br />
    <div id="alert"></div>
    <br/>
}

@if (Account == null || (Account != null && !((Employee)Account.Profile).OnLeave(DateTime.Now)))
{
    <div class="two-column-content">
        <div class="cluster"><button class="full" id="time-in" disabled>Time In</button></div>
        <div class="cluster"><button class="full" id="time-out" disabled>Time Out</button></div>
    </div>
}

@if (Account != null)
{
    
    <table>
        <thead>
        <tr class="heading-row">
            <th>Total Working Days</th>
            <th>Present</th>
            <th>Absent</th>
            <th>Overtime</th>
            <th>Late</th>
            <th>Leave</th>
            <th>Undertime</th>
        </tr>
        </thead>
        <tbody id="details">
        </tbody>
    </table>

    <br/>
    <table>
        <thead>
        <tr class="heading-row">
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
        </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>

    <div id="result-summary">
        <div>
            <span id="result-count">Showing <b>1 - 1</b> out of <span>1</span> results</span>
        </div>
        <div id="pagination">
            <span class="active">1</span>
        </div>
    </div>
}

<script>
    var curr = 1;

    @if (Account != null)
    {
        <text>
            $(document).ready(() => {
                search(1);

                loadButtons();
                loadAttendance();
            })
        </text>
    }

    $("#time-in").on("click", (e) => {
        $("#alert").removeAttr("class");

        e.preventDefault();
        $.ajax({
            url: '/Attendance/TimeIn',
            data: {
                code: $("input[name=employee-code]").val(),
            },
            method: "POST",
            success: (data) => {
                if (data.error)
                    $("#alert").addClass("error");
                else {
                    $("#time-in").attr("disabled", "disabled");
                    $("#time-out").removeAttr("disabled");
                    $("#time-out").attr('data-id', data.attendance);

                    $("#alert").addClass("success");

                    @if (Account != null)
                    {
                        <text>
                            search(curr);
                            loadAttendance();
                        </text>
                    }
                }

                $("#alert").html(data.message);
            }
        })
    })

    $("#time-out").on("click", (e) => {
        $("#alert").removeAttr("class");

        e.preventDefault();
        $.ajax({
            url: '/Attendance/TimeOut',
            data: {
                code: $("input[name=employee-code]").val(),
            },
            method: "POST",
            success: (data) => {
                if (data.error)
                    $("#alert").addClass("error");
                else {
                    $("#time-in").attr("disabled", "disabled");
                    $("#time-out").attr("disabled", "disabled");

                    $("#alert").addClass("success");

                    @if (Account != null)
                    {
                        <text>
                            search(curr);
                            loadAttendance();
                        </text>
                    }
                }

                $("#alert").html(data.message);
            }
        })
    })

    function loadButtons() {
        $.ajax({
            url: '/Attendance/GetAttendanceToday',
            data: {
                code: $("input[name=employee-code]").val(),
            },
            method: "GET",
            success: (data) => {
                @if (Account == null)
                    {
                        <text>
                            $("#alert").removeAttr("class");

                            if (data.error){
                                $("#alert").addClass("error");
                                
                                $("#time-in").attr("disabled", "disabled");
                                $("#time-out").attr("disabled", "disabled");
                            } else {
                                $("#alert").addClass("success");
                                $("input[name=employee-code]").attr("disabled", "disabled");
                                $("#check").attr("disabled", "disabled");
                                $("#time-in").removeAttr("disabled");
                                $("#time-out").attr("disabled", "disabled");

                                $("#name").text(data.employee.Profile.FirstName +
                                    " " +
                                    data.employee.Profile.MiddleName +
                                    " " +
                                    data.employee.Profile.LastName);
                                
                                if (data.attendance && !data.attendance.TimeOut && data.attendance.TimeIn) {
                                    $("#time-out").attr('data-id', data.attendance.Attendance.AttendanceID);

                                    $("#time-out").removeAttr("disabled");
                                    $("#time-in").attr("disabled", "disabled");
                                } else if (!data.attendance) {
                                    $("#time-in").removeAttr("disabled");
                                    $("#time-out").attr("disabled", "disabled");
                                }
                            }

                            $("#alert").html(data.message);
                        </text>
                }
                else
                {
                    <text>
                        if (data.attendance && !data.attendance.TimeOut && data.attendance.TimeIn) {
                            $("#time-out").attr('data-id', data.attendance.Attendance.AttendanceID);

                            $("#time-out").removeAttr("disabled");
                            $("#time-in").attr("disabled", "disabled");
                        } else if (!data.attendance) {
                            $("#time-in").removeAttr("disabled");
                            $("#time-out").attr("disabled", "disabled");
                        }
                    </text>
                }
            }
        })
    }

    @if (Account != null)
    {
        <text>
    function loadAttendance() {
        $.ajax({
            url: "/Attendance/GetMyAttendance",
            method: "GET",
            success: (data) => {
                $("#details").empty();

                if (data.attendance) {
                    let o = data.attendance;
                    let row = $("<tr></tr>");
                    let tot = $("<td>" + o.TotalWorkingDays + "</td>");
                    let pre = $("<td>" + o.Present + "</td>");
                    let abs = $("<td>" + o.Absent + "</td>");
                    let ove = $("<td>" + o.Overtime + "</td>");
                    let lat = $("<td>" + o.Late + "</td>");
                    let lea = $("<td>" + o.Leave + "</td>");
                    let und = $("<td>" + o.Undertime + "</td>");

                    row.append(tot).append(pre).append(abs).append(ove).append(lat).append(lea).append(und);
                    $("#details").append(row);
                } else {
                    $("#time-in").attr("disabled", "disabled");
                    $("#time-out").attr("disabled", "disabled");
                    $("#alert").addClass("info");
                    $("#alert").html(
                        "<b>Info: </b> You do not have an attendance sheet for this month yet, please contact the HR department.");
                }
            }
        });
    }

    function search(n) {
        curr = n;
        $.ajax({
            url: "/Attendance/GetAttendanceTimes",
            data: {
                'page': n || 1,
            },
            method: "GET",
            success: (data) => {
                $("#data").empty();
                $("#pagination").empty();
                console.log(data);
                if (data.attendancetimes) {
                    if (data.pages > 0) {
                        $("#result-count b").text(((n - 1) * ($("#show-entries").val() || 5) + 1) +
                            " - " +
                            (((n - 1) * ($("#show-entries").val() || 5)) + data.attendancetimes.length));
                    } else {
                        $("#result-count b").text("0 - 0");
                    }
                    $("#result-count span").text(data.total);

                    if (data.pages < curr && curr > 1) {
                        curr--;
                        search(curr);
                    }

                    for (var i = 1; i <= data.pages; i++) {
                        $("#pagination").append("<span href='#' data-page='" +
                            i +
                            "' onclick=event.preventDefault();search(" +
                            i +
                            ");> " +
                            i +
                            "</span> ");
                    }

                    $("#pagination span[data-page=" + n + "]").addClass("active");

                    data.attendancetimes.forEach((o, i, a) => {
                        let option = { hour: "2-digit", minute: "2-digit" };

                        let s = new Date(o.Date);
                        let ti = new Date(o.TimeIn).toLocaleTimeString("en-EN", option);
                        let to = (o.TimeOut) ? new Date(o.TimeOut).toLocaleTimeString("en-EN", option) : "---";

                        let schedule = (s.getMonth() + 1) + "/" + (s.getDate()) + "/" + s.getFullYear()
                        let row = $("<tr></tr>");
                        let date = $("<td></td>").text(schedule);
                        let timein = $("<td></td>").text(ti);
                        let timeout = $("<td></td>").text(to);

                        row.append(date);
                        row.append(timein);
                        row.append(timeout);
                        $("#data").append(row);
                    });
                } else {
                    $("#data").append("<tr><td>---</td><td>---</td><td>---</td></tr>");
                    $("#result-count b").text("0 - 0");
                    $("#result-count span").text(0);
                }
            }
        })
    }
        </text>
    }
</script>