/* Button element framework */

button{
	font-family: var(--theme-heading-font);
	border-radius: var(--border-radius);
	border: thin solid var(--theme-color);
	background-color: var(--theme-color);
	padding: 0.7em 1.5em;
	font-size: 0.8em;
	color: white;
	cursor: pointer;

	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

button:disabled {
    opacity: 0.8;
    cursor: default;
}

button.full{
	width: 100%;
}

button:hover{
	border: thin solid var(--theme-dark-accent);
	background-color: var(--theme-dark-accent);
}

button.hallow{
	border: thin solid var(--theme-color);
	background-color: transparent;
	color: var(--theme-color);
}

button.hallow.red{
	color: #FF4F4F;
	border-color: #FF4F4F;
}

button.hallow.red:hover{
	color: red;
	border-color: red;
}

button.hallow:hover{
	border: thin solid var(--theme-dark-accent);
	background-color: transparent;
}