/* Input fields element framework */

input, textarea{
	font-family: var(--theme-body-font);
	color: #666;
	background-color: white;
	border-radius: var(--border-radius);
	border: thin solid var(--border-color);
	padding: 0.7em 0.5em;
	font-size: 0.8em;
}

textarea{
	resize: none;
}

input:focus, textarea:focus{
	border: thin solid var(--theme-color);
}