/* Input fields element framework */

input, textarea{
	font-family: var(--theme-body-font);
	color: #666;
	background-color: white;
	border-radius: var(--border-radius);
	border: thin solid var(--border-color);
	padding: 0.7em 0.5em;
	font-size: 0.8em;
}

#alert, #alert2 {
    display: none;
    color: #fff;
    margin-top: 10px;
    border-radius: var(--border-radius);
    font-size: 0.8em;
    padding: 0.8em 1.5em;
}

#alert.error, #alert.success, #alert.info,
#alert2.error, #alert2.success, #alert2.info {
    display: block;
}

#alert.error, #alert2.error {
    background-color: #e02c2c;
}

#alert.success, #alert2.success {
    background-color: #5eb854;
}

#alert.info, #alert2.info {
    background-color: #408dcc;
}

input:disabled, select:disabled {
    opacity: 0.6;
    cursor: default;
}

input.half, textarea.half{
	width: 50%;
}

input.full, textarea.full{
	width: 96.5%;
}

textarea{
	resize: none;
}

input:focus, textarea:focus{
	border: thin solid var(--theme-color);
}


div.radio-inline{
    display: flex;
    margin: 1.8em 0;
    justify-content: space-evenly;
}

div.radio-inline label{
    display: flex;
    margin-right: 1.5em;
    flex-direction: column;
}

input[type="radio"]{
    display: inline;
    margin-right: 0.8em;
}