
@{
    ViewBag.Title = " Employee Attendance Report";
    ViewBag.Active = "REPEA";
}

<h2>Attendance Report</h2>

<div class="cluster" style="margin-bottom: 0;">
    <div class="two-column-content">
        <div class="cluster">
            <p class="sub-title">Year</p>
            <select id="year" name="year" class="full" data-max="@DateTime.Now.Year" required>
                <option value="">-- Select year --</option>
                <!-- JS generated -->
            </select>
        </div>
        <div class="cluster">
            <p class="sub-title">Month</p>
            <select id="month" name="month" class="full" required>
                <option value="">-- Select month --</option>
                <!-- JS generated -->
            </select>
        </div>
    </div>
</div>
<div class="two-column-content">
    <div class="cluster" style="margin-bottom: 0;">
        <button class="full" onclick="print()" disabled id="print">Print Report</button>
    </div>
    <div class="cluster">
        <span id="alert" style="margin-top: 0; "></span>
    </div>
</div>
<br/>

<div class="iframe-container" id="iframe" style="display: none">
    <iframe src="/Reports/Printable/"></iframe>
</div>

<script>
    $(document).ready(() => {
        $("#year, #month").on("change", () => {
            $("#iframe").hide();
            $("#print").attr("disabled", "disabled");

            $("#alert").removeClass("error");

            let y = parseInt($("#year").val());
            let v = ((parseInt($("#month").val()) + 1) + "").padStart(2, "00");
            
            if (parseInt(y) != -1 && parseInt(v) >= 1) {
                $.ajax({
                    url: "/Reports/AllAttendance",
                    method: "GET",
                    data: {
                        date: y + "-" + v.padStart(2, "00") + "-" + "01"
                    },
                    success: (data) => {
                        if (data.content) {
                            $("#print").removeAttr("disabled");

                            $("#iframe").show();
                            var json = {
                                headers: [
                                    "Employee Code", "Employee Name", "Department", "Position", "Total Working Days",
                                    "Present", "Absent", "Over Time", "Late", "Leave"
                                ],
                                data: [],
                                details: [],
                                title: "Employee Attendance"
                            };

                            data.content.forEach((o, i, a) => {
                                var ar = [];
                                ar.push(o.Employee.Code);
                                ar.push(o.Employee.Profile.FirstName +
                                    " " +
                                    o.Employee.Profile.MiddleName +
                                    " " +
                                    o.Employee.Profile.LastName);
                                ar.push(o.Employee.Department.DepartmentName);
                                ar.push(o.Employee.Position);
                                ar.push(o.TotalWorkingDays);
                                ar.push(o.Present);
                                ar.push(o.Absent);
                                ar.push(o.Overtime);
                                ar.push(o.Late);
                                ar.push(o.Leave);

                                json.data.push(ar);
                            });

                            let deet = $("<p><b>Date Covered</b>: " +
                                ($("#month option[value='" + $("#month").val() + "']").text()) +
                                y +
                                " </p>");

                            json.details.push(deet);

                            $("#iframe iframe")[0].contentWindow.load(json);
                        } else {
                            $("#alert").addClass("error").text("There are no attendance records at that date");
                        }
                    }
                });
            }
        })
    })

    function print() {
        $("#iframe iframe")[0].contentWindow.print();
    }
</script>