/* Input fields element framework */

input, textarea{
	font-family: var(--theme-body-font);
	color: #666;
	background-color: white;
	border-radius: var(--border-radius);
	border: thin solid var(--border-color);
	padding: 0.7em 0.5em;
	font-size: 0.8em;
}

input.half, textarea.half{
	width: 50%;
}

input.full, textarea.full{
	width: 96.5%;
}

textarea{
	resize: none;
}

input:focus, textarea:focus{
	border: thin solid var(--theme-color);
}

div.radio-inline{
	display: flex;
	margin: 1.8em 0;
}

div.radio-inline label{
	display: flex;
	margin-right: 1.5em;
}

input[type="radio"]{
	display: inline;
	margin-right: 0.8em;
}