/* Login stylesheet */

body{
	padding: 8% 0;
}

#logo{
	margin: auto;
	display: block;
	margin-bottom: 1em;
}

#login-form{
	padding: 2em;
	border-radius: var(--border-radius);
	background-color: white;
	overflow: hidden;
	border: thin solid var(--border-color);
	width: 20em;
	margin: 0 auto;
}

#login-form .title, #login-form .sub-title{
	padding: 0;
	margin: 0;
	text-align: center;
}

#login-form hr{
	margin: 2em 0;
	margin-bottom: 1em;
}

#login-form .sub-title{
	color: #666;
}

#login-form form input{
	width: 95.5%;
	margin-top: 1em;
}

#login-form form button{
	width: 100%;
}

#forgot{
	display: block;
	text-align: right;
	color: var(--theme-color);
	margin-top: 0.5em;
	font-size: 0.7em;
	cursor: pointer;
}

#signup-link{
	background-color: transparent;
	border: thin solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 0 2em;
	width: 20em;
	margin: 0 auto;
}

#signup-link p{
	text-align: center;
	font-size: 0.8em;
}

#signup-link a{
	color: var(--theme-color);
}

#signup-link a:hover{
	text-decoration: underline;
}